[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
python-dotenv = "*"
python-telegram-bot = "~=13.13"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
